# Kconfig - ST Microelectronics STM32L1 MCU line
#
# Copyright (c) 2018 Endre Karlson <endre.karlson@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

choice
prompt "STM32L1x MCU Selection"
depends on SOC_SERIES_STM32L1X

config SOC_STM32L151XB
	bool "STM32L151XB"

config SOC_STM32L151XC
	bool "STM32L151XC"

endchoice
