# Kconfig - Aidong Linde429 V14 board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_AIDONG_LINDE429V14
	bool "Aidong Linde429 V14 Board"
	depends on SOC_STM32F429XI
